.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D01C28;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 6px 16px;
}

.button p {
    color: white;
    margin: 0px;
}